:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 86px;
  font-weight: normal;
}

p {
  font-weight: normal;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #274142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.content-container {
  padding: 60px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 88px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-container img {
  border-radius: 20px;
  width: 400px;
  margin-left: 100px;
}

.content {
  margin: 30px;
}

.content h2 {
  color: rgba(30, 28, 35, 0.76);
}

.content h1 {
  font-size: 52px;
}
.btn-branding {
  background: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 30px;
}

.btn-branding:hover {
  background: var(--secondary-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.projects img {
  width: 500px;
}

.latest-projects p {
  font-size: 36px;
  padding: 20px 0;
}

.work {
  text-align: center;
}

.bg-title {
  padding: 80px 20px;
  background: var(--secondary-color);
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin: 0 0 20px;
}

.subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  opacity: 80%;
  font-family: var(--default-font-family);
}

.project-description {
  padding: 120px 60px;
}

.project-german,
.project-weather {
  color: rgba(231, 26, 26, 0.818);
  font-family: "Secular One", sans-serif;
  font-weight: normal;
  font-size: 48px;
}
.project-weather {
  color: #252171;
}

.built {
  font-size: 22px;
}

.logo {
  max-width: 100px;
  padding: 0;
  margin: 0;
}

.contact-box a {
  text-decoration: none;
  color: var(--primary-color);
}
.contact-box p {
  font-size: 22px;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
  font-size: 24px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  margin-bottom: 50px;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .about {
    text-align: center;
    padding: 0;
  }
}
